@import "settings";
@import 'foundation-sites/foundation';

@include foundation-everything;

canvas.sensors {
  background: url('/assets/img/feet.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
}
