<div class="row">
  <div class="small-3 columns align-self-middle">
    {{motor-controls side="left"}}
  </div>

  <div class="small-6 columns align-self-middle">
    {{sensor-canvas data=connection.state}}
  </div>

  <div class="small-3 columns align-self-middle">
    {{motor-controls side="right"}}
  </div>
</div>

